.parent{
    position: relative;
    width: 300px;
    height: 300px;
    background-color:rgb(76, 97, 106);
    border-radius: 30px;
    display: flex;
    background-image: linear-gradient(violet,red,yellow);
    .hood1{
        background: transparent;
        border: 10px solid rgb(255,255, 255);
        border-radius: 30%;
        width:200px ;
        height: 200px;
        margin:  auto;

    }
    .hood2{
        background: transparent;
        border: 10px solid rgb(255,255, 255);
        border-radius: 50%;
        width:100px ;
        height: 100px;
        margin:  40px auto;
    }
    .hood3{
        background: white;
        border: 10px solid rgb(255,255, 255);
        border-radius: 50%;
        width:15px ;
        height: 15px;
        margin:  -175px 150px;

    }
}